{% extends 'base.html.twig' %}

{% block title 'Lockers' %}

{% block body %}
    <h1>Lockers</h1>

    {% if app.session.flashBag.has('warning') %}
        {{ app.session.flashBag.get('warning') }}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>Locker</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for locker in lockers %}
                <tr>
                    <td>{{ locker.number }}</td>
                    <td>{{ locker.status|replace({'_': ' '})|title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Get package</h1>

    <form method="post" action="{{ path('locker_deposit') }}">
        <label>Number <input name="number" /></label>

        <button type="submit">deposit</button>
    </form>
{% endblock %}
